{% block title %}{{title}}{% endblock %}
{% block legend_name %}{{ translate }}{% endblock %}
{% block content %}

<div style="padding: 20px; background-color: #f0f0f0;">
  <div class="layui-row layui-col-space15">
    {% autoescape off %}
      {{ msg }}
    {% endautoescape %}
  </div>
</div>

{% endblock %}
